<style>
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
  }

  h2 {
    color: #333;
  }

  p {
    color: #666;åå
  }

  a {
    color: #007bff;
    text-decoration: none;
    margin: 5px;
  }

  .form-formatting { 
    align-items: center; 
  }

  .image-resizing img{
    max-width: 50%;
  }
</style>
  
<div class="form-formatting">
  <%= form_with(model: finance) do |form| %>
    <% if finance.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(finance.errors.count, "error") %> prohibited this finance from being saved:</h2>

        <ul>
          <% finance.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <br>

    <div>
      <%= form.label :email, style: "display: block; margin-bottom: 10px;" %>
      <% if @officer_emails %>
        <%= form.collection_select :email, @officer_emails, :to_s, :to_s, prompt: "Select an email" %>
      <% else %>
        <p>No emails available.</p>
      <% end %>
    </div>

    <div>
      <%= form.label :eventTitle, "Event Title", style: "display: block; margin-bottom: 10px; margin-top: 10px;" %>
      <% if @event_titles %>
        <%= form.collection_select :eventTitle, @event_titles, :to_s, :to_s, prompt: "Select an event title" %>
      <% else %>
        <p>No event titles available.</p>
      <% end %>
    </div>

    <div>
      <%= form.label :cost, style: "display: block; margin-bottom: 10px; margin-top: 10px;" %>
      <%= form.text_field :cost, style: "margin-bottom: 10px;" %>
    </div>

    <div>
      <%= form.label :description, style: "display: block; margin-bottom: 10px;" %>
      <%= form.text_field :description, style: "margin-bottom: 10px;" %>
    </div>

    <div>
      <% if current_member&.position == 'President' || current_member&.position == 'Finance Chair' %>
        <%= form.label :status, style: "display: block; margin-bottom: 10px;" %>
        <%= form.select :status, Finance.statuses.keys, {}, { style: "margin-bottom: 10px;" } %>
      <% elsif current_member&.position != 'President' && current_member&.position != 'Finance Chair' && current_member&.position != 'Member' && current_member&.position != 'Pending' %>
        <%= form.label :status, style: "display: block; margin-bottom: 10px;" %>  
        <%= form.select :status, Finance.statuses.keys, {}, { disabled: true } %>
      <% end %>
    </div>

    <div>
      <%= form.label :receipt, style: "display: block; margin-bottom: 10px; margin-top: 10px;" %>
      <% if finance.receipt.present? %>
        <div class="image-resizing">
          <%= image_tag "data:image/png;base64,#{@finance.receipt}", alt: 'Receipt' if @finance.receipt.present? %>
        </div>
        <br>
        <br>
      <% end %>
      <%= form.file_field :receipt, style: "margin-bottom: 10px; margin-left: 6.75%" %>
    </div>

    <div>
      <% if finance.reimbursement.present? || current_member&.position == 'President' || current_member&.position == 'Finance Chair' %>
        <%= form.label :reimbursement, style: "display: block; margin-bottom: 10px;" %>
      <% end %>

      <% if finance.reimbursement.present? %>
        <div class="image-resizing">
          <%= image_tag "data:image/png;base64,#{@finance.reimbursement}", alt: 'Reimbursement' if @finance.reimbursement.present? %>
        </div>
        <br>
        <br>
      <% end %>

      <% if current_member&.position == 'President' || current_member&.position == 'Finance Chair' %>
        <%= form.file_field :reimbursement, style: "margin-bottom: 10px; margin-left: 6.75%" %>
      <% end %>
    </div>

    <br>

    <div>
      <%= form.submit "Confirm",
      style: "background-color: green;
      color: white;
      font-size: 16px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      text-align: center;" %>
      <%= link_to "Cancel", finances_path,
        style: "background-color: red;
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        margin-left: 5%;
        display: inline-block;
        text-align: center;" %>
    </div>
  <% end %>
</div>
