<!-- app/views/profiles/show.html.erb -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f4f4f4;
    }

    .profile-container {
      max-width: 600px;
      margin: 50px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #333;
      text-align: center;
    }

    p {
      color: #555;
      margin-bottom: 15px;
    }

    nav a {
      align: centered;
    }
  </style>
</head>

<body>
  <!-- Bootstrap Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" style="color: black;">
      <%= link_to root_url do %>
        <%= image_tag "back_arrow_icon.png", :width => "8%"%>
      <% end %>
    </a>
  </nav>

  <h1> <%= @current_member.full_name%>'s Profile </h1>

  <div class="container">
    <div class="profile-container">
      <p><strong>Name:</strong> <%= @current_member.full_name %></p>
      <p><strong>Email:</strong> <%= @current_member.email %></p>
      <p><strong>Phone Number:</strong> <%= @current_member.phone_number %> <a href="<%= edit_phone_number_member_path(@current_member) %>">Edit</a></p>
      <p><strong>Position:</strong> <%= @current_member.position %></p>
      <p><strong>Points:</strong> <%= @current_member.totalPoints %></p>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
