<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= event.score %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= event.password %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event.end_time %>
  </p>

  <p>
    <strong>Image:</strong> <br> <!-- Line break after the Receipt image -->
    <%= image_tag "data:image/png;base64,#{event.image}", alt: 'Image' if event.image.present? %>
  </p>
</div>
