<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Details</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f4f4f4;
      text-align: center;
    }

    .event-details-container {
      max-width: 100%;
      margin: 50px auto;
      background-color: #fff;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      top: -5%
    }

    h5 {
      color: #333;
    }

    p {
      color: #555;
      margin-bottom: 15px;
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }

    .event-image {
      text-align: center;
    }

    .actions-card {
      margin-top: 10%;
    }

    .delete-confirmation-popup {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
      border: 1px solid black;
      z-index: 1000;
    }

    .confirm-delete-btn, .cancel-delete-btn {
      margin-right: 5px;
      border: none;
      padding: 5px 10px;
      border-radius: 3px;
      cursor: pointer;
      font-size: 0.9rem;
    }

    .confirm-delete-btn {
      background-color: #d9534f; /* Red */
      color: white;
    }

    .cancel-delete-btn {
      background-color: #f0ad4e; /* Yellow */
      color: white;
    }

    .image-resizing img {
      max-width: 50%;
    }
  </style>
</head>

<body>
  <!-- Bootstrap Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="<%= root_path %>" style="color: black; text-align: left;">
    <img src="<%= asset_path('back_arrow_icon.png') %>" alt="Arrow Icon" class="mr-2" style="width: 5%; height: auto; cursor: pointer;" onclick="redirectToRoot(); return false;">
    </a>
  </nav>

  <h1> Event Details </h1>

  <div class="container">
    <div class="row">
      <div class="col-md-3"> <!-- Updated col-md-3 -->
        <div class="card p-3 event-image">
          <h5 class="card-title">Event Image</h5>
          <%= image_tag "data:image/png;base64,#{@event.image}", alt: 'Image', class: "img-fluid"  %>
        </div>
      </div>
      <div class="col-md-9"> <!-- Updated col-md-9 -->
        <div class="card bg-light p-3 event-details-container">
          <h5 class="card-title">
            <%= @event.title %>
            <% if @event.start_time.present? && @event.end_time.present? && @current_time.present? %>
              <% if @event.start_time < @current_time && @event.end_time > @current_time %>
                <span class="ongoing-marker">Ongoing</span>
              <% elsif @event.start_time < @current_time %>
                <span class="ongoing-marker">Past</span>
              <% else %>
                <span class="ongoing-marker">Upcoming</span>
              <% end %>
            <% end %>
          </h5>

          <p class="card-text">
            <strong>Score:</strong> <%= @event.score %>
          </p>
          <% if current_member&.position != 'Member' %>
            <p class="card-text">
              <strong>Password:</strong> <%= @event.password %>
            </p>
          <% end %>
          <p class="card-text">
            <strong>Start time:</strong> <%= @event.start_time.strftime("%B %d, %Y %H:%M %p %Z") %>
          </p>

          <p class="card-text">
            <strong>End time:</strong> <%= @event.end_time %>
          </p>

          <p class="card-text">
            <strong>Attendance Visibility:</strong> <%= @event.attendanceVisible %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-3 actions-card">
        <h5 class="card-title">Actions</h5>
        <% if current_member&.position != 'Member' && current_member&.position != 'Pending' %>
          <%= link_to "Edit this event", edit_event_path(@event), class: "btn btn-primary btn-block mb-2" %>
          <%= button_to "Delete this event", @event, method: :delete, class: "destroy-event-form", form_class: "event-delete-form", onclick: "confirmEventDelete()", style: "display: none;" %>
          <button type="button" onclick="confirmEventDelete()" class="btn btn-danger btn-block mb-2">
            Delete this event
          </button>
        <% end %>
      </div>
    </div>
  </div>

<!-- Confirmation Popup -->
<div id="deleteConfirmationPopup" class="delete-confirmation-popup" style="display: none;">
  <p id="deleteConfirmationMessage">Are you sure you want to delete <span id="eventName"></span>?</p>
  <button id="confirmDeleteBtn" class="confirm-delete-btn">Delete</button>
  <button onclick="cancelDelete()" class="cancel-delete-btn">Cancel</button>
</div>

<script>
function confirmEventDelete(eventName) {
  document.getElementById('eventName').textContent = eventName;
  document.getElementById('deleteConfirmationPopup').style.display = 'block';
}

document.addEventListener("DOMContentLoaded", function() {
  var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
  var destroyForm = document.querySelector('.destroy-event-form');

  confirmDeleteBtn.addEventListener('click', function() {
    destroyForm.submit();
  });
});

    function cancelDelete() {
      document.getElementById('deleteConfirmationPopup').style.display = 'none';
    }

    function redirectToRoot() {
      window.location.href = '<%= events_path %>';
    }
  </script>
</body>
</html>
