<!-- show.html.erb -->

  <div class="container">
    <div class="row">
      <div class="col-md-3"> <!-- Updated col-md-3 -->
        <div class="card p-3 event-image">
          <h5 class="card-title">Event Image</h5>
          <%= image_tag "data:image/png;base64,#{@event.image}", alt: 'Image', class: "img-fluid"  %>
        </div>
      </div>
      <div class="col-md-9"> <!-- Updated col-md-9 -->
        <div class="card bg-light p-3 event-details-container">
          <h5 class="card-title">
            <%= @event.title %>
            <% if @event.start_time.present? && @event.end_time.present? && @current_time.present? %>
              <% if @event.start_time < @current_time && @event.end_time > @current_time %>
                <span class="ongoing-marker">Ongoing</span>
              <% elsif @event.start_time < @current_time %>
                <span class="ongoing-marker">Past</span>
              <% else %>
                <span class="ongoing-marker">Upcoming</span>
              <% end %>
            <% end %>
          </h5>

          <p class="card-text">
            <strong>Score:</strong> <%= @event.score %>
          </p>
          <% if current_member&.position != 'Member' && current_member&.position != 'Pending' %>
            <p class="card-text">
              <strong>Password:</strong> <%= @event.password %>
            </p>
          <% end %>
          <p class="card-text">
            <strong>Start time:</strong> <%= @event.start_time.strftime("%B %d, %Y %H:%M %p %Z") %>
          </p>

          <p class="card-text">
            <strong>End time:</strong> <%= @event.end_time %>
          </p>

          <p class="card-text">
            <strong>Attendance Visibility:</strong> <%= @event.attendanceVisible %>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
    <div class="col-md-4">
      <div>
        <%= link_to "Edit this event", edit_event_path(@event) %> |
        <%= link_to "Back to events", events_path %>
      </div>
      <div>
        <%= button_to "Destroy this event", @event, method: :delete, form_class: "destroy-event-form", style: "display: none;" %>
        <button class="link-like-button" onclick="confirmEventDelete('<%= escape_javascript(@event.title) %>')">Destroy this event</button>
      </div>
    </div>
  </div>
</div>

  <!-- Confirmation Popup -->
  <div id="deleteConfirmationPopup" class="delete-confirmation-popup" style="display: none;">
    <p id="deleteConfirmationMessage">Are you sure you want to delete this event?</p>
    <button id="confirmDeleteBtn" class="confirm-delete-btn">Delete</button>
    <button onclick="cancelDelete()" class="cancel-delete-btn">Cancel</button>
  </div>
  

  <!-- Include Bootstrap JS files -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    function confirmEventDelete() {
      document.getElementById('deleteConfirmationPopup').style.display = 'block';
    }

    document.addEventListener("DOMContentLoaded", function() {
      var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
      var destroyForm = document.querySelector('.event-delete-form');

      confirmDeleteBtn.addEventListener('click', function() {
        try {
          if (destroyForm) {
            console.log(destroyForm);
            destroyForm.submit();
          } else {
            console.error('Delete form not found');
          }
        } catch (error) {
          console.error('Error submitting delete form:', error);
        }
      });
    });

function cancelDelete() {
  document.getElementById('deleteConfirmationPopup').style.display = 'none';
}
</script>

<style>
  .link-like-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

  .link-like-button:hover {
    color: #00C;
    text-decoration: underline;
  }

  .delete-confirmation-popup {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid black; /* This adds the black border */
  z-index: 1000;
  }


  .confirm-delete-btn, .cancel-delete-btn {
    margin-right: 5px;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9rem;
  }

  .confirm-delete-btn {
    background-color: #d9534f; /* Red */
    color: white;
  }

  .cancel-delete-btn {
    background-color: #f0ad4e; /* Yellow */
    color: white;
  }
</style>

