<h2>Admin Dashboard</h2>
<p>Welcome to the main dashboard page.</p>

<% if admin_signed_in? %>
  <p>Here, you can provide options or links specific to logged-in admins.</p>
  <%= link_to 'View Members', members_path %><br>
  <%= link_to 'View Officer Members', officer_index_members_path %><br>
  <%= link_to 'View Events', events_path %><br>  <!-- Added this line -->
  <%= link_to 'View Attendance', attendances_path %><br>  <!-- Added this line -->
  <%= link_to 'View Officer Entries', officer_entries_path %><br>
<% else %>
  <p>You need to sign in to view admin-specific content.</p>
<% end %>
