<table summary="Book Collection form fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= f.text_area(:description) %></td>
  </tr>
  <tr>
    <th>Read</th>
    <td><%= f.check_box(:read) %></td>
  </tr>
  <tr>
    <th>Author</th>
    <td><%= f.text_field(:author) %></td>
  </tr>
  <tr>
    <th>Price</th>
    <td><%= f.number_field(:price, step: '0.01') %></td>
  </tr>
  <tr>
    <th>Published Date</th>
    <td><%= f.date_field(:published_date) %></td>
  </tr>
</table>
