<div class="book_collections index">
    <h2>Book Collections</h2>
    <h2>This is a test version!</h2>

    <%# Display flash notice if it exists %>
    <% flash.each do |name, msg| %>
        <div class="<%= name %>">
            <strong><%= msg %></strong>
        </div>
    <% end %>


    <%= link_to("Add New Book", new_book_collection_path, class: 'action new') %>
    <table class="listing" summary="Book list" style="width: 100%;">
        <tr class="header">
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Read</th>
            <th>Author</th>
            <th>Price</th>
            <th>Published Date</th>
            <th>Actions</th>
        </tr>
        <% @book_collections.each do |book| %>
        <tr>
            <td><%= book.id %></td> <!-- Assuming you have an 'id' field -->
            <td><%= book.name %></td>
            <td><%= book.description %></td>
            <td><%= book.read ? 'Yes' : 'No' %></td>
            <td><%= book.author %></td> <!-- New author field -->
            <td><%= book.price %></td> <!-- New price field -->
            <td><%= book.published_date %></td> <!-- New published_date field -->
            <td class="actions">
                <%= link_to("Show", book_collection_path(book), class: 'action show') %>
                <%= link_to("Edit", edit_book_collection_path(book), class: 'action edit') %>
                <%= link_to("Delete", book_collection_path(book), method: :delete, data: { confirm: "Are you sure?" }, class: 'action delete') %>
            </td>
        </tr>
        <% end %>
    </table>
</div>
