<p style="color: green"><%= notice %></p>

<h1>Officer entries</h1>

<div id="officer_entries">
  <% @officer_entries.each do |officer_entry| %>
    <%= render officer_entry %>
    <p>
      <%= link_to "Show this officer entry", officer_entry %>
    </p>
  <% end %>
</div>

<% if @current_member&.position == 'President' %>
  <%= link_to "New officer entry", new_officer_entry_path %>
<% end %>
<%= link_to "Dashboard", root_path %>
