<p style="color: green"><%= notice %></p>

<%= render @officer_entry %>

<div>
  <%= link_to "Edit this officer entry", edit_officer_entry_path(@officer_entry) %> |
  <%= link_to "Back to officer entries", officer_entries_path %>

  <%= button_to "Destroy this officer entry", @officer_entry, method: :delete %>
</div>
