<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.cdnfonts.com/css/mustopha" rel="stylesheet">
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
    }

    h3 {
      color: #333;
      font-size: 25px;
    }

    h2 {
      color: #333;
      margin-top: 30px;
      left: 41.25%;
    }

    p {
      color: #666;
    }

    a {
      color: #007bff;
      text-decoration: none;
      margin: 5px;
    }

    .admin-links,
    .user-links {
      display: block; 
    }

    .user-links,
    .admin-info {
      display: block; 
    }

    .toggle-links-button {
      padding: 10px;
      margin: 10px;
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
      margin-right: 10px;
    }

    nav {
      background-color: #007bff;
      padding: 5px; 
    }

    nav a {
      color: #fff;
    }

    .navbar {
      background-color: #007bff;
      padding: 5px;
      width: 55%;
      margin: auto; 
      margin-top: 5vh;
    }

    .navbar a {
      color: #fff;
    }

    .navbar .active a {
      background-color: #C0C0C0; 
      color: #007bff; 
      border-radius: 5px; 
    }

    .navbar-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .member-navbar {
      width: 30%;
    }
    @import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');


    .side-header {
      transform: rotate(270deg);
      position: fixed;
      top: 70%; 
      left: 200px; 
      transform-origin: bottom left; 
      letter-spacing: 0.8em; 
      font-size: 120px; 
      font-family: 'Mustopha'; 
    }

    .floating-button {
      position: fixed;
      bottom: 40px;
      right: 40px;
    }

    .finances {
      margin-top: 30px;
    }

    .newFinance button{
      background-color: #f9f9f9;
      color: #333;
      border: 2px solid #ccc;
      border-radius: 20px;
      font-size: 50px;
      cursor: pointer;
      height: 75px;
      width: 75px;
      text-align: center;
      margin-right: 325px;
      margin-bottom: 20px;
    }

    .newFinance button:hover{
      background: #ccc;
    }

    .showFinance button{
      background-color: #f9f9f9;
      color: #333;
      border: 2px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    .showFinance button:hover{
      scale: 1.1;
    }

    .pending-finance-box {
      border: 2px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      max-width: 500px;
      margin: auto;
      background-color: #f9f9f9;
      margin-bottom: 10px;
    }

    .completed-finance-box {
      border: 2px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      max-width: 500px;
      margin: auto;
      background-color: #f9f9f9;
      margin-bottom: 10px;
    }

    .pretty-divider {
      border: none;
      height: 2px;
      background-color: #ccc;
      width: 30%;
    }

  </style>
</head>
  
<p style="color: green"><%= notice %></p>

<h1>Attendances</h1>

<div id="attendances">
  <% @events.each do |event| %>
    <% @attendances.each do |attendance| %>
      <% if attendance.event_name == event.title %>
        <h2><%= event.title %></h2>
        <div class="pending-finance-box">
          <%= render attendance %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "New attendance", new_attendance_path %>
<%= link_to "Dashboard", root_path %>
