<!DOCTYPE html>
<html>
  <head>
    <title>GoogleOauthDevise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
    </style>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
        Welcome, <%= current_admin.full_name %>!
        <%= link_to "Sign out", destroy_admin_session_path, method: :delete %>
      <% else %>
        Welcome, Guest!
        <%= link_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path, class: "sign-in-button" %>
      <% end %>
    </header>
    
    <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
      <% end -%>
    <% end %>
    <%= yield %>
  </body>
</html>
