<div id="<%= dom_id member %>">
  <p>
    <strong>Totalpoints:</strong>
    <%= member.totalPoints %>
  </p>

  <p>
    <strong>Weeklypoints:</strong>
    <%= member.weeklyPoints %>
  </p>

  <p>
    <strong>Namefirst:</strong>
    <%= member.nameFirst %>
  </p>

  <p>
    <strong>Namelast:</strong>
    <%= member.nameLast %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= member.position %>
  </p>

</div>
