<%= form_with url: bulk_update_points_members_path, method: :patch do %>
  <table>
    <thead>
      <tr>
        <th>Name First</th>
        <th>Name Last</th>
        <th>Weekly Points</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= member.nameFirst %></td>
          <td><%= member.nameLast %></td>
          <td>
            <%= number_field_tag "members[#{member.id}][weeklyPoints]", member.weeklyPoints %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag "Update Points" %>

  <div>
    <%= link_to "Back to members", members_path %>
  </div>
<% end %>
