<!-- app/views/members/index.html.erb -->

<style>
  .link-like-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

  .link-like-button:hover {
    color: #00C;
    text-decoration: underline;
  }
</style>

<h1>Members</h1>
<table>
  <thead>
    <tr>
      <th>ID</td>
      <th>Full Name</th>
      <th>Email</th>
      <th>Position</th>
      <th>Total Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.full_name %></td>
        <td><%= member.email %></td>
        <td><%= member.position %></td>
        <td><%= member.totalPoints %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td>
          <%= form_with url: member_path(member), method: :delete, class: 'delete-member-form', local: true do %>
            <%= submit_tag 'Delete', class: 'link-like-button' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @current_member&.position != 'Member' %>
<%= link_to 'New Member', new_member_path %>
<%end%>
<%= link_to 'Officer Points View', officer_index_members_path %>
<%= link_to "Dashboard", root_path %>


<script>
document.addEventListener("DOMContentLoaded", function() {
  var deleteForms = document.querySelectorAll('.delete-member-form');

  deleteForms.forEach(function(form) {
    form.addEventListener('submit', function(e) {
      if (!window.confirm('Are you sure you want to delete this member?')) {
        e.preventDefault();
      }
    });
  });
});
</script>





