<header>
  <title>Officer Details</title>
</header>

<style>
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
  }

  h3 {
    color: #333;
    font-size: 5vw;
  }

  h2 {
    color: #333;
    margin-top: 1%;
    left: 41.25%;
    font-size: 2vw;
  }

  h1 {
    margin-top: 1%;
    font-size: 3vw;
    text-align: center;
  }

  p {
    color: #666;
  }

  a {
    color: #007bff;
    text-decoration: none;
    margin: 5px;
  }

  table {
    margin: auto;
    text-align: center;
    width: 50%;
  }
</style>

<h2>Officer Points for <%= @member.full_name %> </h2>
<table>
  <thead>
    <th>Points</th>
    <th>Description</th>
  </thead>
  <tbody>
    <% @member_officer_points.each do |entry| %>
        <tr>
            <td><%= entry.points %></td>
            <td><%= entry.description %></td>
            <td><%= button_to "Delete", entry, method: :delete %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<div class="links">
  <%= link_to "Back to officer leaderboard", officer_index_members_path %>
</div>
<div class="box"> </div>


